<div class="modal-header">
  <h4 class="modal-title">Add an item</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
    <div class="form-floating">
      <input type="text" class="form-control mb-3 bg-body-secondary" id="floatingName" placeholder="Name"
        formControlName="name">
      <label for="floatingName">Name</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control mb-3 bg-body-secondary" id="floatingUnit" placeholder="Unit"
        formControlName="unit">
      <label for="floatingUnit">Unit</label>
    </div>
    <div class="form-floating">
      <input type="date" class="form-control mb-3 bg-body-secondary" id="floatingDate" placeholder="Exp. Date"
        formControlName="expirationDate">
      <label for="floatingDate">Exp. Date</label>
    </div>
    <div class="form-floating">
      <select type="number" class="form-select mb-3 bg-body-secondary" id="floatingCategory" placeholder="Category"
        formControlName="category">
      @for (category of categoriesService.categories; track $index) {
        <option value="{{ category.id }}">{{ category.name }}</option>
      }
      </select>
      <label for="floatingCategory">Category</label>
    </div>
    <div class="form-floating">
      <select 
        type="number" 
        class="form-select mb-3 bg-body-secondary" 
        id="floatingLocation"
        placeholder="Location" 
        formControlName="location"
      >
        @for (location of locationsService.locations; track $index) {
          <option value="{{ location.id }}">{{location.name}}</option>    
        }
        <label for="floatingLocation">Storage Location</label>
      </select>
    </div>
    <div class="form-floating">
      <input type="number" class="form-control mb-3 bg-body-secondary" id="floatingStock" placeholder="Stock"
        formControlName="stock">
      <label for="floatingStock">Stock</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary w-100 py-2" (click)="onSubmit()">Add</button>
</div>