<div class="container">
  <div class="row vh-100 align-items-center">
    <div class="col-xxl-4 offset-xxl-4 col-lg-6 offset-lg-3 col-10 offset-1">
      <div class="rounded-4 border-0 shadow-lg bg-white" style="min-height: 450px;">
        <div class="p-5 w-100">
          <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-3 fw-normal">Add new item</h1>
            <div class="form-floating">
              <input type="text" class="form-control mb-3 bg-body-secondary" id="floatingName" placeholder="Name" formControlName="itemName"> 
              <label for="floatingName">Name</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control mb-3 bg-body-secondary" id="floatingCategory" placeholder="Category" formControlName="category"> 
              <label for="floatingCategory">Category</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control mb-3 bg-body-secondary" id="floatingUnit" placeholder="Unit" formControlName="unit"> 
              <label for="floatingUnit">Unit</label>
            </div>
            <div class="form-floating">
              <input type="date" class="form-control mb-3 bg-body-secondary" id="floatingDate" placeholder="Exp. Date" formControlName="expirationDate"> 
              <label for="floatingDate">Exp. Date</label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

