<div class="card mb-2 shadow-lg">
  <div class="card-header d-flex">
    <h5>
      {{ item.name }}
    </h5>
    <i class="fa fa-times ms-auto text-danger" aria-hidden="true" role="button" (click)="deleteItem()"></i>
  </div>
  <div class="card-body">
    <p class="card-text">Category: {{ item.categoryId }}</p>
    <p class="card-text">Unit: {{ item.unit }}</p>
    @if ( item.expDate ) {
      <p class="card-text">Expiration Date: {{ item.expDate  }}</p>
    } @else {
      <p class="card-text">Expiration Date: Never</p>
    }
  </div>
</div>
